#ajouter{
  float: right;
  margin-right: 200px;

}
#ajouter>a{
  color: white;
  font-size: 1.3em;
  /*font-weight: bold;*/
  }
  #ajouter>a:hover{
  text-decoration: none;
    }

#adminCatalogue{
  height: 1000px;
}
