
#adminMain{
  margin-top: 70px;
    color: rgb(1,63,138);
}

#adminMain>header{
  display: flex;
  justify-content: space-around;
}

#AdminDashboard{
  min-height: 50vh;
  margin-top: 30px;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 10px;
  padding: 15px 20px;
    color: rgb(1,63,138);

}
#gauche, #droite{
  flex: 1;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}
#gauche>a:hover, #droite>a:hover{
text-decoration: none;
background-color: rgb(100, 147, 206);
color: white;
}

#gauche>a, #droite>a{
color: rgb(1,63,138);
}
#gauche>a>#catalogueProduits>h4, #gauche>a>#questions>h4, #droite>a>h4,
 #droite>a>#demandesEstimation>h4, #droite>a>#alertes>h4{
font-weight: bold;
}
#AdminDashboard>button{
float: right;
}
#catalogueProduits>a:hover{
  text-decoration: none;
}


#contenu{
  height: 50vh;
  display: flex;
}
#catalogueProduits, #questions, #demandesEstimation, #alertes{
  text-align:  center;
  padding: 35px;
}
#gauche>a, #droite>a{
  flex-grow: 1;
  border: 1px solid rgb(1,63,138);
}

#AdminDashboard>#contenu{

}
