
#carteSmall{
  height:300;
  width: 300px;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin-left: 4px;
  margin-top: 4px;
  padding: 0;
}

.carteSmallFlex:hover{
  border: 1px solid transparent;
}

.carteSmallFlex{
  height: 300px;
  width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.flexTofImage{
  width: 100%;
  height: 75%;
}

.flexText{
  background-color: white;
  color : #3E3E3E;
    width: 100%;
    height: 15%;
    padding-top: 3%;
    margin-left: 0;
}



.flexTextPrix{
  color: red;
  font-weight: bold;
}
.flexText>ul{
  list-style-type: none;
}

.flexTextQuartier{
color: rgb(169,169,169);
/*font-weight: bold;*/
}

#carteSmallInfos>ul{

  /*margin: 10px 3px;*/

  list-style-type: none;
}
#appartItem>a>ul>li{
  list-style-type: none;
}
#DetailsAppartement{
  margin-top: 90px;
}

#carteBigPhoto > img{
  width: 100%;
  height: 100%;
}

.smallPhotox{
  width: 100%;
  height: 100%;
}

  #appartItem>a:hover{
  text-decoration: none;
  color: rgb(46 ,68, 130);
}


#smallPhoto{
  flex: 1;
  background-color: red;

}

#smallInfos{
  flex: 4;
  background-color: green;
}

#carteSmallFlexBox{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%%;
}
#carteSmallPhoto{
  flex: 5;
}
#carteSmallInfos{
flex: 1;
color: rgb(46 ,68, 130);
  font-size: 1.1em;
}


#carteSmall>a:hover{
  text-decoration: none;
  color: rgb(100, 147, 206);
}

#carteSmall>a:hover ul>li{
  text-decoration: none;
  font-weight: bold;
}




#delete{
  float: right;
  margin-bottom: 4px;
}
