.biensEtAlerte{
  display: flex;

}

.alerteForm{
  padding-top:1%;
  border-radius: 3px;
  flex: 1.5;
  height: 700px;
  background-color: #304282;
  color: white;
  margin-left: 3%;
}
.alerteFormItem{
  width: 80%;
  margin: auto;
  border-bottom: 0.1px solid white;
  padding-top: 9px;
  padding-bottom: 9px;
}

.alerteForm>h3{
  text-align: center;
}
.alerteButtonContainer{
  margin-top: 10px;
  height:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alerteButton{
  width: 80%;
  margin: auto;
}
.biens{
  flex: 5;
  /*border: 2px solid black;*/
  background-color: #F7F8FA;
  padding-top: 5px;
}

.biens>h4{
  right: 40px;
  position: absolute;
  color: #696FAB;
  font-weight: bold;
  background-color: white;
  position: fixed;
  padding: 6px 12px;
  border-radius: 3px;
  z-index: 5;
  font-size: 1.1em;

}
