
.listFilters{
  display: flex;
  flex-direction: row;
}

.listFiltersContainer{
  width: 600px;
  height: 50px;
  margin-left: 40%;
  position: fixed;
  z-index: 1;
  border-radius: 5px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listFiltersItem{
  margin-left: 3px;
}
