.dropright{
  position: absolute;
  border-radius: 5px;
  color: rgb(1,63,138);
  left: 2px;
  top: 75px;
}
.filterButton{
  background-color: #8281B8;
  font-family: 'Lato', sans-serif;

}

.listFilters{
  display: flex;
  flex-direction: row;
}
.listFiltersMobile{
  display: flex;
  flex-direction: column;
}
.dropdown-menu{
  font-family: 'Lato', sans-serif;

}
.AppartementsListFiltersAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listFiltersContainer{

  font-family: 'Lato', sans-serif;

  width: 600px;
  height: 50px;

  position: fixed;
  z-index: 1;
  border-radius: 5px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listFiltersContainerMobile{
  width: 120px;
  height: 170px;
  margin-left: 0;
  position: fixed;
  z-index: 1;
  border-radius: 5px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listFiltersItem{
  margin-left: 3px;
}
