#bande{
  /*border-bottom: 1px solid rgba(1,63,138,0.7);*/
  height: 250px;
  width: 100%;
  margin: auto;
  color: black;
  background-image: url('./image1.png');
  align-items: center;
  justify-content: center;
  display: flex;
}

#bande2{
  /*border: 1px solid rgb(1,63,138);*/
  height: 170px;
  width: 100%;
  margin: auto;
  color: black;
  background: url('./image2.png') no-repeat, url('./appartPantin.jpg') right;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}


#bande3{
  /*border: 1px solid rgb(1,63,138);*/
  height: 100px;
  width: 100%;
  margin: auto;
  color: black;
  background: url('./image3.png') no-repeat, url('./casa.jpg') no-repeat right;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

#calqueBlanc{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

#pantin{
  height: 1px;
  align-items:  center;
  justify-content: center;
  display: flex;
  color: rgb(1,63,138);
  font-size: 3em;
}

#devaux{
  marging-top: -8px;
  height: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(1,63,138);
  font-size: 3.5em;
}
