#ajouter{
  float: right;
  margin-right: 200px;

}
#ajouter>a{
  color: white;
  font-size: 1.3em;
  /*font-weight: bold;*/
  }
  #ajouter>a:hover{
  text-decoration: none;
    }

#catalogue{
  height: 1000px;
}

.catalogueVisitor{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

.flexTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexTop>a{
  margin-right: 10%;
  font-size: 1.5em;
}

.flexTop>a:hover{
  text-decoration: none;
}
