.conseils{
  display: flex;
  flex-direction: column;
  height: 850px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.conseilsContainer{
  position: relative;
}

.conseilsPapierPeint{
  padding-top: 2%;
  padding-bottom: 2%;
  flex: 2;
  width: 100%;
  background: url('papierPeint.jpg') center
  no-repeat fixed;
  background-size: cover;
}
.conseilsPapierPeintMobile{
  padding-top: 20px;
    padding-bottom: 2%;

  flex: 2;
  width: 100%;
  background: linear-gradient(to left bottom, rgba(59, 84, 141, 0.3),
   rgba(95,134, 234, 0.1)), url('papierPeint.jpg') center
  no-repeat fixed;
  background-size: cover;
}

.conseilsContenu{
  width: 80%;
  margin: auto;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
}
.conseilsContenuMobile{
  width: 95%;
  margin: auto;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1px;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
}
.conseilsContenu>h3{
  text-align: center;
  font-weight: bold;
  color: rgb(1,63,138);
  margin-bottom: 3%;
}
.conseilsContenuMobile>h3{
  text-align: center;
  font-weight: bold;
  color: rgb(1,63,138);
  font-size: 1.5em;
  margin-bottom: 20px;
}
.conseilsBanniere{
  flex: 1.5;
  width: 100%;
  background: url('./conseils.jpg') center
   no-repeat fixed;
   background-size: cover;
}
.conseilsBanniereMobile{
  height: 240px;
  width: 100%;
  background: url('./conseils.jpg') center
   no-repeat;
   background-size: cover;
}
