#Contact{
  margin: auto;

  /*border: 2px solid rgb(9, 153, 214);*/
  max-width: 90%;
  margin-top: 100px;
  height: 80vh;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
}
#formQuestion>form>p>label{
  width: 12vw;
}

#tel{
  color: rgb(1,63,138);
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
#mail{
  color: rgb(1,63,138);
    font-size: 1.3em;
}

#message>h3, #formQuestion>h3{
  /*font-size: 1.5em;*/
  color:  rgb(1,63,138);
  text-align: center;
}

#gauche, #droite{
  /*flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-around;*/
}

#formQuestion, #message{
  /*flex: 1;*/
  height: 50vh;
}
#tel, #mail{
  height: 5vh;
}
#message{
  display: flex;
  justify-content: center;
  align-items: center;
}
#formQuestion, #mail{
  /*border-bottom:  0.5px solid rgb(9, 153, 214);*/
}
