#DetailsAppartementMobile{
  background-color: #F6F6F6;
}
#DetailsAppartement{
  margin-top: 5px;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  height: 900px;
}
.detailsPhotoContainer{
  margin-bottom: 20px;
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
  width: 60%;
  margin: auto;
}
.detailsPhotoContainerMobile{
  margin-bottom: 20px;
  position: relative;
}
.detailRetourMobile>a{
  color: white;
}
.detailRetourMobile{
  background-color: rgb(1,63,138);
}
.detailsTextContainer{

  flex: 1;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
  margin:auto;
}
.detailsTextContainerMobile{
  display: flex;
  height: 200px;
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
}


.detailsTextDescriptifMobile{
  display: flex;
  height: 200px;
  width: 98%;
  margin: auto;
  border: 1.5px solid #3C3F56;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}


.detailsText{
  flex: 2.5;
  height: 72%;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  box-shadow: 1px 2px 2px rgba(246,246,246, 0.9);
  background-color: #F6F6F6;
  padding-left: 6%;
  padding-top: 2%;
}

.detailsText>p{
 margin-left: 20px;
}
.detailsTextMobile{
  background-color: white;
}
.detailsTextMobile>h4{
  font-weight: bold;
  text-align: center;
}
.detailsText>h4{
  font-weight: bold;
  text-align: center;
}

.caractRight{
  flex: 1.5;
  display: flex;
  flex-direction: column;


}
.caractRightMobile{
  flex: 1.5;
  display: flex;
  flex-direction: column;
}
#DetailsAppartementMobile>h4{
text-align: center;
font-weight: bold;
font-size: 1.2em;

}
.caractRight1{
  flex: 0.5;
  font-weight: bold;
  font-size: 1.1em;
  border: 2.5px solid #3C3F56;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}
.caractRight1Mobile{
  flex: 1.5;
  background-color: white;
  font-weight: bold;
  font-size: 1.1em;
  border: 1.5px solid #3C3F56;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
}
.caractRight>a:hover{
  text-decoration: none;
}
.caractRight2{
  margin-top: 5px;
  flex: 1;
  height: 80px;
  background-color: #304282;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.caractRight2Mobile{
  margin-top: 3%;
  flex: 1;
  height: 50px;
  background-color: #304282;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.caractRight2:hover{
  background-color: #111538;
  cursor: pointer;
}
.caractRight2Mobile:hover{
  background-color: #111538;
  cursor: pointer;
}
.caractRight3Mobile{
  margin-top: 3%;
  flex: 1;
border: 1.5px solid #3C3F56;
 border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #304282;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.caractRight3{
  margin-top: 5px;
  height: 80px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2.5px solid #3C3F56;

}
.caractMailDiv{
  padding-left: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.caractTelDiv{
  padding-left: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.caracteristiquesGenrePrix{
  flex: 1;
  border-bottom: 1px solid rgba(192,192,192, 0.8);
  display: flex;
}

.caracteristiquesPrix{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: red;
}
.caracteristiquesPrixMobile{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: red;
}
.linkToList{
  width: 100px;
  height: 40px;
  position: absolute;
  position: fixed;
  top: 13%;
  right: 0%;
  z-index: 2;
}
.linkToListMobile{
  width: 100%;
  background-color: white;
}

.linkToList>button>a{
  color: white;
}
.linkToList>button>a:hover{
  text-decoration: none;
}
.linkToListMobile>button>a{
  color: white;
}
.linkToListMobile>button>a:hover{
  text-decoration: none;
}
.caracteristiquesGenre{
  padding: 3px 3px;
  flex: 1.7;
  border-right: 1px solid rgba(192,192,192, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caracteristiquesPiecesSuperficie{
  text-align: center;
}
.caracteristiquesPiecesSuperficieMobile{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.detailsPhotoDescriptif{

  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30%;
  height: 25%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 2%;
}
.detailsPhotoDescriptifMobile{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 5%;
  top: 5%;
  width: 140px;
  height: 94px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
}
.detailsQuartier{
  font-size: 0.9em;
}
.detailsQuartierMobile{
  font-size: 0.9em;
  text-align: center;
}
.detailsPhotoPrix{
  color: red;
}
.exclusivite{
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 40px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 7px;
}
.exclusiviteMobile{
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 80px;
  height: 28px;
padding-top: 6px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 7px;
}
.bigPhoto{
  width: 100%;
  height: 460px;
}
.bigPhotoMobile{
  width: 100%;
  height: 260px;
}
