
.faireGerer{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  height: 850px;
  margin-bottom: 0;
}
.faireGererContenu>h3{
  text-align: center;
  font-weight: bold;
  color: rgb(1,63,138);
  margin-bottom: 3%;
}
.faireGererBanniere{
  flex:1.5;
  width: 100%;
  background: url('./retraites.jpg') center
   no-repeat fixed;
   background-size: cover;
}
.faireGererPapierPeint{
  padding-top: 2%;
  padding-bottom: 2%;

  flex: 2;
  width: 100%;
  background: url('papierPeint.jpg') center
  no-repeat fixed;
  background-size: cover;
}
.faireGererContenu{
  width: 80%;
  margin: auto;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
}
