

footer{
display: flex;
flex-direction: column;
flex: 9;
height: 250px;
width: 100%;
background-color: #363C58;
position: relative;
color: white;
}

.footerLeft{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.textMobile{
  text-align: center;
  margin-top:5%;
  color: silver;
  margin-right: 10%;
  margin-left: 10%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}
.logoSnpi{
  width: 150px;
  height: 150px;
margin-left: 55%;
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.footer{
  flex: 5;
  display: flex;
}

.conception{
  text-align: center;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.conceptionAdmin{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
/*.footer2{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.footerMenu{
  flex: 1.5;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*border-bottom: 1px solid silver;*/
}

.menu>a{
  color: white;
}

.footerRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;

}
.marginTop{
  height: 26px;
}

.text{
  text-align: center;
  margin-top:5%;
  color: silver;
  margin-right: 10%;
  margin-left: 10%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerMenu>a{
  color: white;
}


.footerMenu>li>a:hover{
font-weight: bold;
}

/*.footerMenu{
  width: 90%;
  position: absolute;
  bottom: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.ligne>ul{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerMain{
  display: flex;
  flex-direction: row;
}

#dev{
  font-size: 1.1em;
  font-weight: bold;
}
.ligne>ul>li>a{
  color: white;
}
.ligne>ul>li>a:hover{
text-decoration: none;
color: rgb(1,63,138);
}
.ligne>ul>li{
  list-style-type: none;
}

footer>ul>li>a{
  color: white;
 }

 footer>ul>li>a:hover{
   text-decoration: none;
  }*/
