#header{
height: 68px;
width: 100%;
top: 0;
left: 0;
position: fixed;
z-index: 300;
background-color: white;
display: flex;
justify-content: space-between;
padding-right: 20px;
color: rgb(1,63,138);
font-size: 0.8em;
font-weight: bold;
/*opacity: 0.8;*/
}


#headerAdmin{
height: 68px;
width: 100%;
top: 0;
left: 0;
position: fixed;
z-index: 300;
background-color: white;
display: flex;
justify-content: space-between;
padding-right: 20px;
color: rgb(1,63,138);
font-size: 0.8em;
font-weight: bold;
/*opacity: 0.8;*/
}

#headerAdmin>ul>li{
	list-style-type: none;
}

#headerAdmin>ul{
	flex: 2;
	display: flex;
	justify-content: space-around;
}
#header>ul{
	flex: 2;
	display: flex;
	justify-content: space-around;
}

#header>ul>a>li{
list-style: none;
text-align: center;
line-height: 64px;
font-size: 1.1em;
border-radius: 7px;
width: 130px;
height: 64px;
/*margin-top: -20px;*/
}


#preHeader>ul>a>li:nth-child(1):hover, #preHeader>ul>a>li:nth-child(2):hover,
#preHeader>ul>a>li:nth-child(3):hover, #preHeader>ul>a>li:nth-child(4):hover,
#preHeader>ul>a>li:nth-child(5):hover{

background-color: rgb(9, 153, 214);
}

#header>ul>a>li{
	color: rgb(1,63,138);
}

#header>ul>a>li:nth-child(1):hover, #header>ul>a>li:nth-child(2):hover,
 #header>ul>a>li:nth-child(3):hover{
	background-color: rgb(1,63,138);

}
#header>ul>a:hover li{
color: white;
text-decoration: none;
}

.preHeaderElement{
	padding-top: 10px;
	width: 150px;
	text-align: center;
}

.preHeaderElement:nth-child(3){
	flex: 1.3;
}

.preHeaderElement:nth-child(1){
	border-right: 1px solid black;
	/*width: 190px;*/
}

#nom{
	color: rgb(5, 144, 214);
}

#appeller>a{
	color: white;
}
#appeller:hover{
	background-color: rgb(0, 51, 112);
}

#estimer{
	padding-top: 40%;
background-color: rgb(9, 153, 214);
}

#estimer:hover{
background-color: rgb(0, 136, 193);
}

@keyframes logoAnim{
from{transform: rotate(0deg)}
to{transform: rotate(360deg)}
}

#logoAgence{
	width: 59px;
	height: 52px;
	animation: logoAnim 15s infinite;
}

#agence{
	font-size: 2.5em;
	margin-top: 8px;
}
