.home{
  flex: 4;
}

.competences{
  height: 350px;
  display: flex;
  flex-direction: row;
  color: #696969;
}


.estimerDiv{
  padding-top: 1%;
  height: 60px;
  width: 160px;
  font-size: 1.2em;
  font-weight: bold;
background-color: rgb(1,63,138);
  color: white;
  position:fixed;
  top: 100px;
  right: 10px;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}


.estimerDiv:hover{
  color: rgb(1,63,138);
  background-color: white;
  cursor: pointer;
}

.estimer

.caroussel{
  height: 80%;
  width: 70%;
  margin: auto;
  margin-bottom: 80px;
}

.banniereEstimer{
  height: 350px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banniereEstimer>p:first-child{
  fontWeight: normal;
  font-size: 2em;
  margin-bottom: 30px;
}

.banniereEstimer>p:nth-child(3)>a{
  font-size: 1.6em;
}
.banniereCompetences{
 height: 500px;
 background-color: white;
 padding-top: 0;
}

.banniereCompetences>h2{
  text-align: center;
  margin-top: 5%;
margin-bottom: 0;
}

.containerCompetences{
  margin-top: 0;
display: flex;
justify-content: center;
align-items: center;
height: 97%;
width: 100%;
}
.compLeft{
  width: 46%;
  display: flex;
  flex-direction: column;
  /*margin-right: 80px;*/
}

.compRight{
  width: 42%;
  display: flex;
  flex-direction: column;
}

.competences{
  margin: auto;
  display: flex;
  height: 63%;
  width: 80%;
  justify-content: center;
  padding-left: 5%;
}

.fa{
  font-size: 50px;
}
.iconePartie{
  display: flex;
  flex: 1;
  width: 80%;
}

.iconeCompetences{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.textCompetences{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textCompetences>p{
  text-align: center;
}
.textCompetences>h4{
  font-weight: bold;
  text-align: center;
}

.iconeText{
  flex: 3;
}
.BanniereDerniersBiens{
  height: 100vh;
  width: 100vw;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.BanniereDerniersBiens>h2{
  margin-top: 70px;
  text-align: center;

}
