.home{
  flex: 4;
  position: relative;

}

.competences{
  height: 350px;
  display: flex;
  flex-direction: row;
  color: #696969;
}


.estimerDiv{
  font-family: 'Lato', sans-serif;
  padding-top: 1%;
  height: 60px;
  width: 160px;
  font-size: 1.1em;
  font-weight: bold;
background-color: rgb(1,63,138);
box-shadow: 1px 1px 2px rgba(1,63,138, 0.6);
  color: white;
  position:fixed;
  top: 100px;
  right: 10px;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}


.estimerDiv:hover{
  color: rgb(1,63,138);
  background-color: white;
  cursor: pointer;
}


.banniereSlider{
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banniereEstimer{
  height: 240px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banniereEstimer>p:first-child{
  fontWeight: normal;
  font-size: 2em;
  margin-bottom: 30px;
}
.banniereEstimerMobile>p:first-child{
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.banniereEstimerMobile>p:nth-child(2){
  font-weight: normal;
  text-align: center;
  font-size: 0.9em;
  width: 80%;
  margin-bottom: 30px;
}
.banniereEstimerMobile>p:nth-child(3){
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.banniereEstimerMobile{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;

  font-size: 1.2em;
  height: 250px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banniereEstimer>p:nth-child(3)>a{
  font-size: 1.6em;
}
.banniereEstimerMobile>p:nth-child(3)>a{
  font-size: 1.2em;
}
.banniereCompetences{
 height: 400px;
 background-color: white;
 padding-top: 0;
}
.banniereCompetencesMobile{
 padding-left: 7px;
 padding-right: 7px;
 background-color: white;
}

.banniereCompetences>h2{
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
margin-bottom: 0;
}

.banniereCompetencesMobile>h2{
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 9%;
margin-bottom: 0;
}

.containerCompetences{
  margin-top: 0;
display: flex;
justify-content: center;
align-items: center;
height: 90%;
width: 100%;
}

.containerCompetencesMobile{
  margin-top: 60px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}
.compLeft{
  width: 46%;
  display: flex;
  flex-direction: column;
  /*margin-right: 80px;*/
}

.compRight{
  width: 42%;
  display: flex;
  flex-direction: column;
}
.compLeftMobile{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*margin-right: 80px;*/
}

.compRightMobile{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.competences{
  margin: auto;
  display: flex;
  height: 63%;
  width: 80%;
  justify-content: center;
  padding-left: 5%;
}
.competencesMobile{
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 63%;
  width: 100%;
  justify-content: center;
  padding-left: 5%;

}


.fa{
  font-size: 50px;
}
.iconePartie{
  display: flex;
  justify-content: space-around;
  flex: 1;
  width: 80%;
}
.iconePartieMobile{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-bottom: 40px;
}

.iconeCompetences{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}
.iconeCompetencesMobile{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconeCompetencesMobile>i{
  font-size: 2em;
}
.textCompetences{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textCompetencesMobile{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 5px;
  padding-right: 8px;
}
.textCompetencesMobile>h4{
  font-weight: bold;

}
.textCompetences>p{
  text-align: center;
}
.textCompetences>h4{
  font-weight: bold;
  text-align: center;
}
.fleche{
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgb(1,63,138);
  font-size: 40px;
}
.iconeText{
  flex: 3;
}
.BanniereDerniersBiens{
  height: 650px;
  width: 100%;
  padding-top: 1px;
  background-color: #F6F6F6;
}
.BanniereDerniersBiensMobile{
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 10px;
  margin-bottom: 5px;
}
.BanniereDerniersBiensMobile>h2{
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}
.BanniereDerniersBiens>h2{

  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.7em;
}
