.quartiers{
  display: flex;
  flex-direction: column;
  height: 950px;
  display: flex;
  flex-direction: column;
}
.quartiersBanniereMobile{
  width: 100%;
  height: 240px;
  background: linear-gradient(to left bottom, rgba(59, 84, 141, 0.3),
   rgba(95,134, 234, 0.1)), url('./pantinCanal.jpg') center
   no-repeat;
   background-size: cover;
}
.quartiersContainer{
  position: relative;
}
.quartiersPapierPeint{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  flex: 2;
  width: 100%;
  background: url('papierPeint.jpg') center
  no-repeat fixed;
  background-size: cover;
  display: flex;
}
.quartiersPapierPeintMobile{
  padding-top: 2%;
  padding-bottom: 2%;
  flex: 2;
  width: 100%;
  background: url('papierPeint.jpg') center
  no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.quartiersContenu{
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
  flex: 3;
}
.quartiersContenuMobile{
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  width: 95%;
  margin: auto;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
  flex: 3;
}

.quartiersPlan{
  flex:1;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
  background: url('./mapPantin.png') no-repeat center;
  background-size: cover;

  box-shadow: 1px 2px 2px white;
}

.quartiersPlanMobile{
  flex:1;
  background-color: white;
  box-shadow: 1px 2px 2px silver;
  border-radius: 5px;
  background: linear-gradient(to left bottom, rgba(59, 84, 141, 0.2),
   rgba(95,134, 234, 0)), url('./mapPantin.png') no-repeat center;
  background-size: cover;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  box-shadow: 1px 2px 2px white;
}

.quartiersBanniere{
  flex: 2;
  width: 100%;
  background:linear-gradient(to left bottom, rgba(59, 84, 141, 0.2),
   rgba(95,134, 234, 0)), url('./pantinCanal.jpg') center
   no-repeat fixed;
   background-size: cover;
}
.quartiersContenu>h3{
  text-align: center;
  font-weight: bold;
  color: rgb(1,63,138);
  margin-bottom: 3%;
}
.quartiersContenuMobile>h3{
  text-align: center;
  font-weight: bold;
  color: rgb(1,63,138);
  margin-bottom: 3%;
}
