.recherche{
  flex: 4;
  margin-top: 8%;
}

.notifError{
  height: 17px;
}

.envoye{
  display: inline-block;
  color: green;
  font-weight: bold;
}

.recherche>h3{
  color: rgb(1,63,138);
  margin-left: 3%;
}

.recherche>a{
  float: right;
  margin-right: 3%;
  font-size: 1.3em;
}
