.slider{
  height: 100%;
  width: 100%;
  background: linear-gradient(to left bottom, rgba(59, 84, 141, 0.3),
   rgba(95,134, 234, 0.1)), url('./immeuble.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.actions{
  width: 400px;
  height: 270px;
  background-color: rgba(200, 200, 200, 0.6);
  color: #3C3F56;
  position: absolute;
  top: 160px;
  left: 170px;
  display: flex;
  flex-direction: column;
}

.actionsMobileContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actionsMobile{
  text-align: center;
  font-size: 1.3em;
  width: 50%;
  height: 50%;
  background-color: rgba(200, 200, 200, 0.6);
  color: #3C3F56;
  display: flex;
  flex-direction: column;
}

.haut{
  flex: 1.5;
  width: 100%;
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.haut>h4, .hautMobile>h4{
  font-family: 'Lato', sans-serif;
}

.bas{
  flex: 6;
  display: flex;
  flex-direction: row;

}

.basMobile{
  flex: 6;
  display: flex;
  flex-direction: column;
}


.case:hover, .caseMobile:hover{
background-color: rgb(1,63,138);
cursor: pointer;
}
.case, .caseMobile{
transition: background-color 0.5s;
}


.case:hover a, .caseMobile:hover a{
  color: white;
}


.case>a, .caseMobile>a{
    color: #3C3F56;
}

.caseMobile>a>h3{
  font-size: 1.2em;
}

.case>a:hover, .caseMobile>a:hover{
text-decoration: none;
color: white;
}

.basLeft{
  flex: 1;
  border-right: 2px solid silver;
  display: flex;
  flex-direction: column;
}
.basRight{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.basRightUp{
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.basLeftUp{
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.basRightDown{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.basLeftDown{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}
